.App {
  text-align: center;
}

.High-score-table {
  border-collapse: collapse;
  width: 200px;
  padding-left: 50px;
}
.High-score-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.High-score-table th {
  text-align: left;
}

.navbar {
   background-color: rgba(32, 29, 24, 1);
   padding-bottom: 10px;
   text-align: right;
}

.nav-link {
   margin-right: 10px;
   color: rgba(214, 198, 140, 1);
   text-decoration: none;
}

.title {
  background-color: rgba(32, 29, 24, 1);
  font-family: 'Palatino Linotype', Arial;
  font-variant: small-caps;
  font-size: x-large;
  padding: 1px;
  line-height: 95%;
  text-align: center;
}

.Wild-Numbers {
  color: rgba(244, 213, 158, .5);
}

.catch-line {
  font-size: large;
  color: rgba(214, 198, 140, 1);
}