.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.High-score-table {
  border-collapse: collapse;
  width: 200px;
  padding-left: 50px;
}
.High-score-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.High-score-table th {
  text-align: left;
}